.box1{
    background-color: 3F51B5;
    height: 80px;
}
.box2{
    background-color:#303F9F;
    height: 60x;
}

.redes{
    font-size: 60 !important;
    color:white;
}

.textos{
    color: white;
}
.text-decorator-none{
    text-decoration: none;
}